body{
    background-color: darkgray;
    margin:0;
}

div {
    border-bottom: 1px solid grey;
    font-style: normal;
    text-align: center;
    font-family: 'Tahoma', sans-serif;
    padding: 50px;
}

a {
    background-color: coral;
    border-radius: 15px;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 20px;
}

img{
    width: 190px;
}

span {
    font-weight: bold;
}